<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="uc.ac.vo.MemberVO" alias="MemberVO" />
		<typeAlias type="uc.ac.vo.ProjectVO" alias="ProjectVO" />
		<typeAlias type="uc.ac.vo.ProdVO" alias="ProdVO" />
		<typeAlias type="uc.ac.vo.CatVO" alias="CatVO" />
		<typeAlias type="uc.ac.vo.NoticeVO" alias="NoticeVO" />
		<typeAlias type="uc.ac.vo.UploadVO" alias="UploadVO" />
			<typeAlias type="uc.ac.vo.RewardVO" alias="RewardVO" />
	</typeAliases>

</configuration>