@charset "UTF-8";

* {
	padding: 0px;
	margin: 0px;
}

.nav_back {
	width: 100%;
	background-color: lightgray;
	margin-bottom: 10px;
}

.nav {
	width: 1000px;
	height: 50px;
	font-size: 15pt;
}

.nav a {
	text-decoration: none;
	color: black;
}

.nav ul li {
	display: inline-block;
	padding: 10px;
	text-align: left;
}

.nav ul ul {
	position: absolute;
	display: none;
}

.nav ul li:hover .submenu {
	display: block;
	border: 1px solid black;
	background-color: #f4f9f4;
	width:100px;
	z-index: 100;
}

.nav ul ul li {
	display: block;
	width: 150px;
	border-bottom: 1px soldi black;
}

.nav ul ul li:last-child {
	border-bottom: transparent;
}