@charset "UTF-8";

input[type="password"] {
	width: 100%;
}

input[type="text"] {
	width: 100%;
}

input[type="submit"] {
	width: 100%;
	display: block;
	box-sizing: border-box;
	background-color: #FF6F61;
	padding: 10px;
	border: 1px solid #eeeeee;
	border-radius: 3px;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 100%;
	outline: none;
	color: #FFFFFF;
}

input[type="submit"]:hover, /*foucs는 탭으로 갔을때*/ input[type="submit"]:focus
	{
	border: 2px solid black;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .13)
}

input[type="text"] {
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #eeeeee;
	border-radius: 3px;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 100%;
	outline: none;
}

input[type="text"]:hover, /*foucs는 탭으로 갔을때*/ input[type="submit"]:focus
	{
	border: 1px solid black;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .13)
}

input[type="password"] {
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #eeeeee;
	border-radius: 3px;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 100%;
	outline: none;
}

input[type="password"]:hover, /*foucs는 탭으로 갔을때*/ input[type="submit"]:focus
	{
	border: 1px solid black;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .13)
}

table {
	margin: 0 auto;
}

#login {
	width: 500px;
	height: 500px;
	border-collapse: collapse;
	border: 1px solid lightgray;
}

#login td {
	padding: 30px;
}
#login td a {
	text-decoration: none;
}

#login td a:visited {
	text-decoration: none;
	color:black;
}
/**************************************************************************************/
/*회원 가입 동의 페이지*/
#agree {
	width: 500px;
	height: 80%;
	text-align: center;
	border-collapse: collapse;
}

#agree span {
	float: left;
	padding-left: 10px;
}

#agree input[type="checkbox"] {
	float: right;
}

#put input[type="submit"] {
	margin-top: 10px;
	width: 500px;
}


#checkAll{
	width: 500px;
	height: 30px;


	
}
/*맨 위 설명*/
#top_title {
	width: 480px;
	border-radius: 3px;
	background: lightgray;
	padding: 10px;
	margin-bottom: 30px;
}
/**************************************************************************************/
/*회원 정보 입력*/
#insert table {
	width: 500px;
	border-collapse: collapse;
}